.main-info {
    max-width: 1500px;
    margin: 105px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 30px 10px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .main-info {
        margin-top: 75px;
    grid-template-columns: repeat(auto-fit, 300px);
    }
}
