.header {
    background-color: #642424;
    width: 100%;
    min-height: 50px;
    height: 7vw;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}