.info__paragraph {
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #642424;
    border: #866103 solid thin;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    max-width: 85%;
}
