.menu__link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding-right: 6%;
    border-right: 2px solid #fff8e7;
}

.menu__link:last-of-type {
    padding: 0;
    border: 0;
}

@media screen and (min-width: 1040px) {
    .menu__link {
        padding-right: 8%;
    }
}

@media screen and (max-width: 767px) {
    .menu__link {
        width: 200px;
        text-align: center;
        border-right: 0;
        padding-right: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #3D0700;
        color: #642424;
        font-size: 23px;
        letter-spacing: 1.5px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 450px) {
    .menu__link {
        font-size: 20px;
        width: 150px;
    }
}