.type_color_gold {
    border-color: #833a0e;
}

@media screen and (max-width: 768px) {
    .type_color_gold {
        align-self: end;
        margin-right: 10%;
    }
}

@media screen and (max-width: 480px) {
    .type_color_gold {
        margin-right: 0;
        align-self: center;
        width: 90vw;
    }
}