.symp-cons {
    display: flex;
    gap: 10%;
    padding-top: 30px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .symp-cons {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 30px;
    }
}

@media screen and (min-width: 1500px) {
    .symp-cons {
        margin-left: -3%;
    }
}

@media screen and (min-width: 1700px) {
    .symp-cons {
        margin-left: -7%;
    }
}