.menu-button {
    width: 30px;
    height: 100%;
    margin-left: 10px;
    background-image: url(./../../images/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 767px) {
    .menu-button {
        display: block;
    }
}