.main__paragraph_border_right-bottom {
    padding: 0 40px 50px 40px;
    border: 0.5px solid #833a0e;
    border-bottom-right-radius: 25px;
    border-top: none;
    border-left: none;
}

@media screen and (max-width: 768px) {
    .main__paragraph_border_right-bottom {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        border-right: none;
    }
}

@media screen and (min-width: 1024px) {
    .main__paragraph_border_right-bottom {
        padding-left: 1%;
    }
}

@media screen and (min-width: 1280px) {
    .main__paragraph_border_right-bottom {
        padding-left: .5%;
    }
}